# Environments
.env
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Project specific
generation.log
data/generation.log
ollama.log
.ipynb_checkpoints/

scoring_model/runs/classifier_frozen/*.pt
scoring_model/runs/coral_frozen/*.pt
chroma_db/
